
.textoNg {
  font-size: larger;
  font-weight: bold;
}
.title{
  text-transform: uppercase;
}
.cardtext{
  margin-top: 3rem;
  padding-left: 1rem;
}
.botones{
  position: absolute;
  text-align: end;
  right: 3rem;
  bottom: 3rem;
}
